# Configuración de Conexión a Base de Datos PostgreSQL
# Reemplazar con las credenciales locales o de producción
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"

# Puerto de la Aplicación (Opcional, por defecto 3000)
PORT=3000
